<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415627593273-3qsonb1hb9n906g5bdjs4uviqhp0rl58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415627593273-3qsonb1hb9n906g5bdjs4uviqhp0rl58</string>
	<key>API_KEY</key>
	<string>AIzaSyDBf7KAUd96tSu8ILAKjul6d1fSj1uOFVI</string>
	<key>GCM_SENDER_ID</key>
	<string>415627593273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wj.com.H-BotWj2</string>
	<key>PROJECT_ID</key>
	<string>iths20-wj</string>
	<key>STORAGE_BUCKET</key>
	<string>iths20-wj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415627593273:ios:47dcfd405cc59f237a6fe8</string>
</dict>
</plist>